<div class="container-fluid ">
    <h1 class="text-center fw-bold d-none d-lg-block">CONTACT US</h1>
    <h1 class="text-center fw-bold d-lg-none d-sm-block pt-5">CONTACT US</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form class="mt-5 contactForm p-2">
                    <div class="form-group p-2">
                      <label for="exampleFormControlInput1">Email address*</label>
                      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                    </div>
                    <div class="form-group p-2">
                      <label for="exampleFormControlSelect1">Concerns*</label>
                      <select class="form-control classic" id="exampleFormControlSelect1">
                        <option>Computer Repair</option>
                        <option>Online Troubleshooting</option>
                        <option>Product Malfunction</option>
                        <option>Delay for delivery</option>
                        <option>Missing item</option>
                      </select>
                    </div>
                    
                    <div class="form-group p-2">
                      <label for="exampleFormControlTextarea1">Brief Explanation</label>
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                    </div>
                    <div class="form-group p-2">
                        <label for="exampleFormControlFile1">Evidence</label>
                        <input type="file" class="form-control-file m-2" id="exampleFormControlFile1">
                    </div>
                    <div>
                      <button class="p-2 btn fw-bold m-2"> SUBMIT</button> 
                    </div>
                  </form>
            </div>
            <div class="col-md-6 d-none d-lg-block flipper">
              <div class="front">
                <img class="img-fluid" src="assets/undraw_Agreement_re_d4dv.png" alt="">
              </div>
              <div class="back">
                <img class="img-fluid" src="assets/undraw_Searching_re_3ra9.png" alt="">
              </div>
                
            </div>
        </div>
    </div>
</div>