<div class="container-fluid">
    <div class="container mt-5 text-center">
        <div class="row gy-5">
            <div class="col-md-4 reveal">
                <div class="card p-3">
                    <img src="assets/gaming-laptop.png" class="card-img-top img-fluid" alt="...">
                    <div class="card-body">
                    <h3 class="mt-2">LAPTOPS</h3>
                    </div>
                    <div class="overlay">
                        <button class="btn btn-danger p-3 text-center">
                            SEE MORE <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        </button>
                    </div>
                  </div>
            </div>
            <div class="col-md-4 reveal">
                <div class="card p-3">
                    <img src="assets/CPU.png" class="card-img-top  img-fluid" alt="...">
                    <div class="card-body">
                    <h3 class="mt-2">PROCESSORS</h3>
                    </div>
                    <div class="overlay">
                        <button class="btn btn-danger p-3 text-center">
                            SEE MORE <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        </button>
                    </div>
                  </div>
            </div>
            <div class="col-md-4 reveal">
                <div class="card p-3">
                    <img src="assets/MB.png" class="card-img-top img-fluid" alt="...">
                    <div class="card-body">
                    <h3 class="mt-2">MOTHERBOARD</h3>
                    </div>
                    <div class="overlay">
                        <button class="btn btn-danger p-3 text-center">
                            SEE MORE <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        </button>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row mt-2 gy-5">
            <div class="col-md-4 reveal">
                <div class="card p-3">
                    <img src="assets/kb_png.png" class="card-img-top img-fluid" alt="...">
                    <div class="card-body">
                        <h3 class="mt-2">KEYBOARDS</h3>
                    </div>
                    <div class="overlay">
                        <button class="btn btn-danger p-3 text-center">
                            SEE MORE <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        </button>
                    </div>
                  </div>
            </div>
            <div class="col-md-4 reveal">
                <div class="card p-3">
                    <img src="assets/mouse.png" class="card-img-top  img-fluid" alt="...">
                    <div class="card-body">
                        <h3 class="mt-2">MOUSE</h3>
                    </div>
                    <div class="overlay">
                        <button class="btn btn-danger p-3 text-center">
                            SEE MORE <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        </button>
                    </div>
                  </div>
            </div>
            <div class="col-md-4 reveal">
                <div class="card p-3">
                    <img src="assets/headset.png" class="card-img-top img-fluid" alt="...">
                    <div class="card-body">
                        <h3 class="mt-2">PERIPHERALS</h3>
                    </div>
                    <div class="overlay">
                        <button class="btn btn-danger p-3 text-center">
                            SEE MORE <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        </button>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>