<app-header></app-header>
 <div class="container-fluid">
   <div class="container">
        <div class="row gy-5">
            <div class="col-md-3 p-5">
                <div class="input-group mb-3 p-2">
                    <select class="custom-select  w-100 p-2" id="inputGroupSelect01">
                      <option selected>Find...</option>
                      <option value="1">Keyboards</option>
                      <option value="2">Headphones</option>
                      <option value="3">Mouse</option>
                      <option value="4">Monitors</option>
                      <option value="5">Processors</option>
                      <option value="6">Laptops</option>
                    </select>
                  </div>
                  <div class="form-group form-check p-3 mx-3 text-center border-bottom">
            
                    <label class="form-check-label" for="exampleCheck1">Availability</label>
                    <input type="checkbox" class="form-check-input mx-2" id="exampleCheck1">
                    
                  </div>
                  <div class="form-group form-check p-3 mx-3 mb-3 border-bottom text-center">
                    <h6 class="mb-3">
                        BRANDS
                    </h6>
                    <ul>
                        <li class="checkbox">
                            <label class="form-check-label" for="exampleCheck1">Generic</label>
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    
                        </li>
                        <li class="checkbox">
                            <label class="form-check-label" for="exampleCheck1">HIKVISION</label>
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    
                        </li>
                        <li class="checkbox">
                            <label class="form-check-label" for="exampleCheck1">ASUS</label>
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    
                        </li>
                        <li class="checkbox">
                            <label class="form-check-label" for="exampleCheck1">RYZEN</label>
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    
                        </li>
                        <li class="checkbox">
                            <label class="form-check-label" for="exampleCheck1">INTEL</label>
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    
                        </li>
                    </ul>
                  </div>
                  <div class="text-center">
                    <h6>
                        RATINGS
                    </h6>
                    <ul class="ratings p-2">
                        <li class="mb-1">
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"> (50)</i>
                        </li>
                        <li class="mb-1">
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-regular fa-star text-success"> (22)</i>
                        </li>
                        <li class="mb-1">
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-regular fa-star text-success"></i>
                            <i class="fa-regular fa-star text-success"> (11)</i>
                        </li>
                        <li class="mb-1">
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-regular fa-star text-success"></i>
                            <i class="fa-regular fa-star text-success"></i>
                            <i class="fa-regular fa-star text-success"> (10)</i>
                        </li>
                        <li class="mb-1">
                            <i class="fa-solid fa-star text-success"></i>
                            <i class="fa-regular fa-star text-success"></i>
                            <i class="fa-regular fa-star text-success"></i>
                            <i class="fa-regular fa-star text-success"></i>
                            <i class="fa-regular fa-star text-success"> (10)</i>

                        </li>
                    </ul>
                  </div>
            </div>
            <div class="col-md-8">
                <div class="container">
                    <div class="row gy-5">
                        <div class="col-md-4">
                            <div class="card p-3">
                                <img src="assets/kb_png.png" class="card-img-top img-fluid" alt="...">
                                <div class="card-body text-center">
                                    <h6 class="mt-2">Lakshmi REDRAGON K606R MECHANICAL KEBOARD</h6>
                                    <p class="card-text"> Price : 1,100 Php</p>
                                    <button class="btn btn-dark p-2 text-center">
                                        <span>
                                            Add to cart
                                        </span>
                                        <i class="fa-solid fa-cart-shopping"></i>
                                      </button>
                                </div>
                                <div class="overlay">
                                    <a  href="#">
                                      <i class="fa-solid fa-heart"></i>
                                    </a>
                    
                                </div>
                              </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card p-3">
                                <img src="assets/kb_png.png" class="card-img-top img-fluid" alt="...">
                                <div class="card-body text-center">
                                    <h6 class="mt-2">Lakshmi REDRAGON K606R MECHANICAL KEBOARD</h6>
                                    <p class="card-text"> Price : 1,100 Php</p>
                                    <button class="btn btn-dark p-2 text-center" id="">
                                        <span>
                                            Add to cart
                                        </span>
                                        <i class="fa-solid fa-cart-shopping"></i>
                                      </button>
                                </div>
                                <div class="overlay">
                                    <a  href="#">
                                        <i class="fa-solid fa-heart"></i>
                                      </a>
                                </div>
                              </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card p-3">
                                <img src="assets/kb_png.png" class="card-img-top img-fluid" alt="...">
                                <div class="card-body text-center">
                                    <h6 class="mt-2">Lakshmi REDRAGON K606R MECHANICAL KEBOARD</h6>
                                    <p class="card-text"> Price : 1,100 Php</p>
                                    <button class="btn btn-dark p-2 text-center">
                                        <span>
                                            Add to cart
                                        </span>
                                        <i class="fa-solid fa-cart-shopping"></i>
                                      </button>
                                </div>
                                <div class="overlay">
                                   <a  href="#">
                                      <i class="fa-solid fa-heart"></i>
                                    </a>
                              </div>
                        </div>
                        </div>
                    </div>
                    <div class="row gy-5 mt-2">
                        <div class="col-md-4">
                            <div class="card p-3">
                                <img src="assets/kb_png.png" class="card-img-top img-fluid" alt="...">
                                <div class="card-body text-center">
                                    <h6 class="mt-2">Lakshmi REDRAGON K606R MECHANICAL KEBOARD</h6>
                                    <p class="card-text"> Price : 1,100 Php</p>
                                    <button class="btn btn-dark p-2 text-center">
                                        <span>
                                            Add to cart
                                        </span>
                                        <i class="fa-solid fa-cart-shopping"></i>
                                      </button>
                                </div>
                                <div class="overlay">
                                    <a  href="#">
                                      <i class="fa-solid fa-heart"></i>
                                    </a>
                    
                                </div>
                              </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card p-3">
                                <img src="assets/kb_png.png" class="card-img-top img-fluid" alt="...">
                                <div class="card-body text-center">
                                    <h6 class="mt-2">Lakshmi REDRAGON K606R MECHANICAL KEBOARD</h6>
                                    <p class="card-text"> Price : 1,100 Php</p>
                                    <button class="btn btn-dark p-2 text-center">
                                        <span>
                                            Add to cart
                                        </span>
                                        <i class="fa-solid fa-cart-shopping"></i>
                                      </button>
                                </div>
                                <div class="overlay">
                                    <a  href="#">
                                        <i class="fa-solid fa-heart"></i>
                                      </a>
                                </div>
                              </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card p-3">
                                <img src="assets/kb_png.png" class="card-img-top img-fluid" alt="...">
                                <div class="card-body text-center">
                                    <h6 class="mt-2">Lakshmi REDRAGON K606R MECHANICAL KEBOARD</h6>
                                    <p class="card-text"> Price : 1,100 Php</p>
                                    <button class="btn btn-dark p-2 text-center">
                                        <span>
                                            Add to cart
                                        </span>
                                        <i class="fa-solid fa-cart-shopping"></i>
                                      </button>
                                </div>
                                <div class="overlay">
                                   <a  href="#">
                                      <i class="fa-solid fa-heart"></i>
                                    </a>
                              </div>
                        </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                  <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                      <span aria-hidden="true">&laquo;</span>
                                    </a>
                                  </li>
                                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                                  <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                      <span aria-hidden="true">&raquo;</span>
                                    </a>
                                  </li>
                                </ul>
                              </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
   </div>
</div>
<app-footer></app-footer>
