
    <nav class="navbar navbar-expand-sm fixed-top navbar-fixed-top ">
        <div class="container p-1">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#fff" class="bi bi-list" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                </svg>
              </button>
              <a class="navbar-brand text-light" href="#">
                <div class="banner">
                  <img class="img-fluid d-none d-sm-block" src="src/assets/CHIPSETLOGOWHITE.png"  alt="">
                </div>
              </a>
            
              <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav text-center">
                  <li class="nav-item active">
                    <a class="nav-link" routerLink="main">HOME <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" routerLink="aboutUs">ABOUT US <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      PRODUCTS
                    </a>
                    <div class="dropdown-menu  text-center" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" routerLink="dashboard">BROWSE</a>
                      <a class="dropdown-item"routerLink="dashboard">TOP SALES</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" routerLink="dashboard">GAMING PERIPHERALS</a>
                    </div>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" routerLink="contactUs">CONTACT <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active md-block lg-none">
                    <a class="nav-link" href="#"><i class="fa-solid fa-cart-plus"></i></a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="#"><i class="fa-regular fa-heart"></i></a>
                  </li>
                </ul>
                
              </div>
        </div>
      </nav>

      
