.jumbotron{
    background-image: url('/assets/1532876.jpg');
    background-repeat: none;
    background-position: center;
    height: 50vh;
    border-bottom-left-radius: 5rem;
    
    
}
.jumbotron-container {
    transform: translateY(13vh);
    word-spacing: 0.5rem;
    letter-spacing: 0.3rem;
    color:#fff;
}
.products{
    color:rgba(51, 3, 3);  
}