.container-fluid{
    margin-top: 10%;
}
.card{
    border-radius: 50px;
}
.card-img-top{
    border-radius:25px;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1s ease;
    background-color: rgba(51,1,1);
}
  
.blockquote {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.card:hover .overlay {
    opacity: 0.9;
    border-radius: 50px;
}
.col-md-6 h2{
    text-align: justify;
}
.pt-5{
    margin-top: 30%;    
}
