<app-header></app-header>
<div class="container-fluid reveal">
    <h1 class="fw-bold text-center d-none d-lg-block">ABOUT US</h1>
    <h1 class="fw-bold text-center pt-5 d-lg-none d-sm-block">ABOUT US</h1>
    <div class="container mt-5 gx-5">
        <div class="row gy-5">
            <div class="col-md-4">
                <div class="card p-3">
                    <img src="assets/harvey.png" class="card-img-top img-fluid" alt="...">
                    <div class="card-body text-center">
                        <h3 class="mt-2">GILBOY, Harvey N.</h3>
                        <p>Bachelor of Science in Computer Engineering</p>
                        <p class="text-muted">Developer</p>
                        

                    </div>
                    <div class="overlay text-center">
                        <blockquote class="blockquote mb-0">
                            <p>"If you only read the books that everyone else is reading, you can only think what everyone else is thinking"</p>
                            <footer class="blockquote-footer">Haruki Murakami</footer>
                          </blockquote>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card p-3">
                    <img src="assets/id.jpg" class="card-img-top img-fluid" alt="...">
                    <div class="card-body text-center">
                        <h3 class="mt-2">NOCON, John Michael</h3>
                        <p>Bachelor of Science in Computer Engineering</p>
                        <p class="text-muted">UI/UIX Designer</p>

                    </div>
                    <div class="overlay text-center">
                        <blockquote class="blockquote mb-0">
                            <p>"Design is not just what it looks like and feels like. Design is how it works"</p>
                            <footer class="blockquote-footer">Steve Jobs</footer>
                          </blockquote>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card p-3">
                    <img src="assets/drei copy.png" class="card-img-top img-fluid" alt="...">
                    <div class="card-body text-center">
                        <h3 class="mt-2">Canete, Zandrei</h3>
                        <p>Bachelor of Science in Computer Engineering</p>
                        <p class="text-muted">Developer</p>

                    </div>
                    <div class="overlay text-center">
                        <blockquote class="blockquote mb-0">
                            <p>"Art is in the eye of beholder"</p>
                            <footer class="blockquote-footer">E.A Bucchianeri</footer>
                          </blockquote>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row mt-3 gy-5">
            <div class="col-md-4">
                <div class="card p-3">
                    <img src="assets/kyle.jpg" class="card-img-top img-fluid" alt="...">
                    <div class="card-body text-center">
                        <h3 class="mt-2">CONTEMPRATO, Kyle</h3>
                        <p>Bachelor of Science in Computer Engineering</p>
                        <p class="text-muted">QA Tester</p>
                        

                    </div>
                    <div class="overlay text-center">
                        <blockquote class="blockquote mb-0">
                            <p>"Life would be so much easier if we only had the source code."</p>
                            <footer class="blockquote-footer">Will J. Doors</footer>
                          </blockquote>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card p-3">
                    <img src="assets/bart.jpg" class="card-img-top img-fluid" alt="...">
                    <div class="card-body text-center">
                        <h3 class="mt-2">BARTOLOME, Bart</h3>
                        <p>Bachelor of Science in Information Technology</p>
                        <p class="text-muted">QA Tester</p>

                    </div>
                    <div class="overlay text-center">
                        <blockquote class="blockquote mb-0">
                            <p>"Life is what happends when you're busy making other plans"</p>
                            <footer class="blockquote-footer">John Lennon</footer>
                          </blockquote>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card p-3">
                    <img src="assets/jamineid.jpg" class="card-img-top img-fluid" alt="...">
                    <div class="card-body text-center">
                        <h3 class="mt-2">ORONGAN, Jamine</h3>
                        <p>Bachelor of Science in Computer Science</p>
                        <p class="text-muted">Marketing/Researcher Manager</p>

                    </div>
                    <div class="overlay text-center">
                        <blockquote class="blockquote mb-0">
                            <p>"Only half of programming is coding. The other 90% is debugging"</p>
                            <footer class="blockquote-footer">Tom Cargill</footer>
                          </blockquote>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <h1 class="fw-bold text-center">MISSION</h1>
        <div class="row mt-5">
            <div class="col-md-6 mt-5 d-none d-lg-block">
                <img class="img-fluid" src="assets/undraw_Problem_solving_re_4gq3.png" alt="">
            </div>
            <div class="col-md-6">
                <h2 class="p-5 mt-5 d-none d-lg-block"> To facilitate the success of our team and our business with CHIPSET: Commitment, High, Imaginative, Positive, Simple, and Transparent.</h2>
                <p class="p-3 text-center d-lg-none d-sm-block">
                    To facilitate the success of our team and our business with CHIPSET: Commitment, High, Imaginative, Positive, Simple, and Transparent.
                </p>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <h1 class="fw-bold text-center">VISION</h1>
        <div class="row mt-5">
            <div class="col-md-6">
                <h2 class="p-5 mt-5 d-none d-lg-block"> CHiPSET Corp is committed to being most trusted partner of 
                    Filipino households and growing business for computer essentials by providing 
                    exceptional customer experience built on ease, technical and empathy.</h2>
                <p class="p-3 text-center d-lg-none d-sm-block">
                    CHiPSET Corp is committed to being most trusted partner of 
                    Filipino households and growing business for computer essentials by providing 
                    exceptional customer experience built on ease, technical and empathy.
                </p>
           </div>
           <div class="col-md-6 d-none d-lg-block">
             <img class="img-fluid"src="assets/undraw_version_control_re_mg66.png" alt="">
          </div>
    </div>
</div>
<app-footer></app-footer>
