<div class="container mt-5 reveal">
    <div class="row gy-5">
        <div class="col-md-4">
            <div class="card  about-us border-0">
                <img src="assets/undraw_building_websites_i78t.png" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h3 class="text-center fw-bold">BUILD</h3>
                  <p class="card-text p-3">We focus on building great relationships. 
                    We are passionate about our customers, 
                    their needs and will go the extra mile to ensure they receive 
                    the very best products and service they deserve.</p>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card invest border-0">
                <img src="assets/undraw_online_connection_6778.png" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                <h3 class="text-center fw-bold">CONNECT</h3>
                  <p class="card-text p-3">To help our clients connect people, places, and things with advanced hardware and software solutions.
                    To be the leader in developing innovative technology in the rapidly changing industry of computers, components and peripherals.</p>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card contacts border-0">
                <img src="assets/undraw_Innovative_re_rr5i.png" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                <h3 class="text-center fw-bold">INNOVATE</h3>
                  <p class="card-text p-3">To provide innovative and affordable technology solutions. 
                    With a demonstrated record of commitment to quality, customer service and employee development, 
                    we continuously strive to meet the technology needs of our customers.</p>
                </div>
              </div>
        </div>
    </div>
</div>
<div class="container-fluid mt-5  text-center">
    <div class="row">
    <h1 class="fw-bold mt-5">SERVICES OFFERED</h1>
        <div class="col-md-6">
            <div class="container mt-5 p-5">
                <div class="row gy-5">
                    <div class="col-md-10">
                        <div class="card-mb-3">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img class="img-fluid" src="assets/undraw_bug_fixing_oc7a.png" alt="">
                                </div>
                                <div class="col-md-8">  
                                    <div class="card-body">
                                        <h5 class="card-title p-2">
                                            COMPUTER REPAIR
                                        </h5>
                                        <p class="card-text">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint id tenetur nulla inventore nobis. Voluptate expedita eaque commodi dolorem quis! Soluta ipsa
                                            accusantium iusto quisquam voluptate excepturi, nulla voluptates temporibus.
                                        </p>
                                        <button class="p-2 mt-2 btn fw-bold">LEARN MORE</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="card-mb-3">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img class="img-fluid" src="assets/undraw_bug_fixing_oc7a.png" alt="">
                                </div>
                                <div class="col-md-8">  
                                    <div class="card-body">
                                        <h5 class="card-title p-2">
                                            ONLINE TROUBLESHOOTING
                                        </h5>
                                        <p class="card-text">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint id tenetur nulla inventore nobis. Voluptate expedita eaque commodi dolorem quis! Soluta ipsa
                                            accusantium iusto quisquam voluptate excepturi, nulla voluptates temporibus.
                                        </p>
                                        <button class="p-2 btn fw-bold mt-2">LEARN MORE</button> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-5">
            <img  class="img-fluid mt-5 d-none d-lg-block" src="assets/undraw_progressive_app_m9ms.png" alt="">
        </div>
    </div>
</div>